data/*
!data/graphs_train
!data/graphs_train/*
!data/graphs_new
!data/graphs_new/*
!data/mesh_train
!data/mesh_train/*
models/*
!models/trained_model
!models/trained_model/*
__pycache__
.vscode
GNN.code-workspace
report/main.aux
report/main.log
report/main.out
report/main.synctex.gz
report/main.bbl
report/main.fdb_latexmk
report/main.fls
report/main.blg
html
latex
report/main.pdf
Doxyfile.bak

gNN/tools/data_location.txt